@font-face {
  font-family: Inter;
  src: url('../fonts//Inter-Regular.ttf');
}

@font-face {
  font-family: Inter-Bold;
  src: url('../fonts//Inter-Bold.ttf');
}


body {
  background-color: #ff7b54;
  color: #ffffff;
  font-family: Inter;
}

a {
  color: inherit;
  text-decoration: inherit;
}